body {
	background-color: #eceeef;
	font-family: 'Lato', sans-serif;
}

/* 
*  HEADER
*/
.profile {
	text-align: right;
	margin-top: 20px;
	text-transform: uppercase;
}

.profile-name {
	font-size:50px;
	color: #292b2c
}

.profile-job {
	font-style: italic;
	color: #7d97ad;
}

.thin-font {
	font-weight: 300;
}

/*
*	LINE
*/

/*
*	MEDIAS
*/
@media screen and (max-width: 770px) {
	.profile-image, .profile {
		text-align: center;
		margin: 0;
	}

}

@media screen and (max-width: 400px) {
	.profile-name {
		font-size: 40px;
	}

	.profile-job {
		font-size: 20px;
	}

}